.Summary {
    position: relative;
    background: url('backg.jpeg'); 
    background-size: cover;
    background-position: center;
    height: 100vh;
  }

  .head {
    position: absolute;
    top:35%;
    left:50%;
    transform: translate(-40%, -50%);
    color: whitesmoke;
    font-weight: bold;
    padding-bottom: 2.5% ;
  }

  .p{
    position: absolute;
    top:52%;
    left:50%;
    transform: translate(-45%, -50%);
    width:1000px;
    color: whitesmoke;
    font-size: larger;
    font-family: "Montserrat", sans-serif;
    
  }

    h1,h2,h3,h4,h5,h6,p {
    font-family: "Montserrat", sans-serif;
    }

body{
    background-color: black;
}

h1{
    font-size: 300% ;
}

.About{
    position: relative;
    color: whitesmoke;
    padding-bottom: 10%;
    height:175px;
}

.pic{
    position: absolute;
    top:35%;
    left:25%;
    width:175px;
    height:175px;
    transform: translate(-40%, -50%);
}

.obj{
    color: whitesmoke;
    position: absolute;
    top:35%;
    left:55%;
    transform: translate(-40%, -50%);
}

.Resume{
    color: black;
    position: relative;
    height:300px;
    background-color: whitesmoke;
    padding-top: 5%;
    margin-bottom: 1%;
    padding-bottom: 5%;
    font-family: "Montserrat", sans-serif;
}

.title{
    position: absolute;
    top:25%;
    left:15%;
    transform: translate(-40%, -50%);
    margin-right: 2%;
    padding: 1%;
    font-weight: bold;
    text-decoration:underline; 
    text-decoration-color: rgb(55, 75, 107);
    height: max-content;
    width: 200px;
}

.descp{
    position: absolute;
    left: 28%;
    padding-left: 5% ;
    padding-right: 15%;
    width: 650px;
    height:max-content;
    border-left:solid;
    border-color:black;
    
}
.italic{
    font-style: italic;
    padding-bottom: 7%;
}

.list{
    position: absolute;
    left: 28%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-evenly;
    padding-left: 5% ;
    padding-right: 15%;
    align-items: center;
    width: 650px;
    border-left:solid;
    border-color:black;
    
}
.box{
    margin: 20px;
    padding:10px;
}

table{
    padding: 10px;
    margin:1px;
    text-align:justify;
    width: max-content;
}

tr,td{
    padding:15px;
}

footer{
    font-family: "Montserrat", sans-serif;
    background: url('backg.jpeg'); 
    color:aliceblue;
    text-align: center;
    padding: 5px;
}

#navbar {
    overflow: hidden;
    background-color: black;
    font-family: "Montserrat", sans-serif;
    text-align: center;
  }
  #navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px;
  }

  .Project{
    color: black;
    position: relative;
    height:475px;
    background-color: whitesmoke;
    padding-top: 5%;
    margin-bottom: 1%;
    padding-bottom: 5%;
    font-family: "Montserrat", sans-serif;
}
